.Header {
  width: 100%;
  padding: 20px 0;
  background-color: #038c5a;
  display: flex;
  justify-content: space-between; /* Align nav items on both ends */
  align-items: center;
  flex-wrap: wrap; /* Wrap the items if space is not enough */
}

/* Media query for responsive design */
@media only screen and (max-width: 600px) {
  .Header {
    flex-direction: column; /* Stack items vertically on small screens */
    padding: 10px; /* Consistent padding */
  }
}
