/* Right.css */
.Right {
  width: 15%;
  background-color: #03a66a;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Media query for responsive design */
@media only screen and (max-width: 768px) {
  .Right {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Adjust height as needed for smaller screens */
    display: block; /* Change to block for full width on smaller screens */
  }
}
