/* Footer.css */
.Footer {
  height: auto; /* Adjust height based on content */
  width: 100%;
  background-color: #025059;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

/* Media query for responsive design */
@media only screen and (max-width: 768px) {
  .Footer {
    height: auto; /* Adjust height as needed for smaller screens */
  }
}
