/* Middle.css */
.Middle {
  flex-grow: 1; /* Takes available space */
  width: calc(100% - 30%); /* Subtracting left and right widths */
  background-color: #bbbf90;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Media query for responsive design */
@media only screen and (max-width: 768px) {
  .Middle {
    width: 100%; /* Set width to 100% on smaller screens */
    display: block;
  }
}
